
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:not(:defined) {
	display: none;
}

html {
	font-family: "Gentium Book Basic", serif;
	background: #19202b;
	color: whitesmoke;
}

html, body, snail-system, snail-panel {
	height: 100%;
}

h1 {
	font-size: 5em;
	text-align: center;
	margin-top: 1em;
}

p {
	margin-top: 2em;
	max-width: 40em;
}

nav a {
	padding-left: 1em;
	display: block;
}

snail-system {
	border: 1px solid #f004;
}

snail-panel {
	border: 1px solid #0f04;
}
